.input {
  height: 32px;
  padding: 0 0.75rem;
  flex-grow: 1;
  font-size: var(--text-md);
  line-height: 32px;
  color: var(--text);
  background-color: #fff;
  border: var(--input-border);
  border-radius: var(--border-rad-sm);
  box-shadow: var(--shadow);
  transition: border-color 0.2s ease, box-shadow 0.2s ease, transform 0.1s ease;
  overflow: hidden;
  white-space: nowrap;
}

.input:focus {
  outline: none;
  border-color: var(--link);
  box-shadow: 0 0 0 3px rgba(207, 58, 95, 0.3);
}

.input:hover {
  border-color: var(--link);
  transform: scale(1.01);
}

.input:disabled {
  background-color: #f9f9f9;
  color: var(--text-grey);
  cursor: not-allowed;
  opacity: 0.7;
}