@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes spin_reverse {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hide_icon {
  font-size: var(--text-lg);
  border-radius: var(--border-rad);
  padding: 4px 10px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}

.hide_icon:hover {
  animation: spin_reverse 0.6s;
}

.hide_icon:not(:hover) {
  animation: spin 0.6s;
}