.annotation_list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 4px;
  padding: 20px 15px;

  background-color: var(--modal);
  border-radius: var(--border-rad);
  border: var(--modal-border);
  box-shadow: var(--shadow);
}

.annotation_list_header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-xl);
}

.hide_icon {
  position: absolute;
  left: 15px;
  font-size: var(--text-md);
}

.annotation_list_body {
  overflow-y: auto;
}