.card {
  background-color: var(--modal);
  border-radius: var(--border-rad-sm);
  border: var(--modal-border);
  box-shadow: var(--shadow);

  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
}

.card_header {
  font-weight: var(--bold);
  font-size: var(--text-lg);
  display: flex;
  gap: 5px;
}

.card_body {
  margin: 5px 0;
  font-size: var(--text-lg);

  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  overflow: hidden;
}

.card_footer {
  padding-top: 5px;
  display: flex;
}