.text_modal {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: var(--border);
  box-shadow: var(--shadow);
  background-color: var(--modal-bg);

  width: calc(100vw - 70px);
  max-width: 680px;
  height: 557px;
  padding: 20px 35px;
  overflow-y: auto;
  
  border-radius: 0 0 10px 0;
  border-right: none;
  border-top: none;
  touch-action: manipulation;
}