.annotation {
  max-width: 480px;
  border: none;
  box-shadow: none;
}

.annotation_header {
  align-items: center;
  color: var(--text);
}

.annotation_link,
.annotation_link:hover {
  text-decoration: none;
}

.username {
  padding: 4px 8px;
  user-select: none;
  cursor: pointer;

  border-radius: var(--border-rad-sm);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.username:hover {
  color: var(--link);
  background-color: var(--modal-hover);
}

.annotation_date {
  font-weight: var(--normal);
  color: var(--text-grey);
}

.annotation_description p {
  margin: 0;
}

.annotation_footer {
  align-items: center;
}

.like_button {
  margin-right: 8px;
}

.likes_count {
  margin-right: 16px;
}