.navbar {
  position: absolute;
  border-top: none;
  border-radius: 0 0 var(--border-rad) var(--border-rad);

  width: 100%;
  max-width: 480px;
  height: 3rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar_header {
  position: relative;
  margin-left: auto;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  color: var(--text);  
  transition: var(--color-transition);
  font-size: var(--text-xl);
}

.navbar_user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar_login {
  padding: 5px 10px;
  border-radius: var(--border-rad-sm);
  transition: background-color 0.2s ease-in-out;
}

.navbar_login:hover {
  color: var(--link);
}

.navbar_login:hover {
  background-color: var(--modal-hover);
}